<main>
  <p class="alert alert-info mt-5 mx-auto w-96 text-center" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger mt-5 mx-auto w-96 text-center" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
