<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <.live_title><%= assigns[:page_title] || "Cuberacer" %></.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={~p"/assets/app.js"}
    >
    </script>
    <!-- FontAwesome -->
    <link
      href={~p"/assets/vendor/fontawesome/css/fontawesome.min.css"}
      rel="stylesheet"
    />
    <link
      href={~p"/assets/vendor/fontawesome/css/solid.min.css"}
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="flex flex-col h-full select-none sm:select-text">
      <header>
        <%= render("_navbar.html", assigns) %>
      </header>

      <div class="flex-1 overflow-auto">
        <%= @inner_content %>
      </div>
    </div>
  </body>
</html>
