/* This file is for your main application CSS */
/* @import "./phoenix.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply h-full overflow-hidden;
}

.phx-loading, .phx-connected {
  @apply h-full;
}

/* Alerts and form errors used by phx.new */
.alert {
  @apply p-2 mb-5 border border-transparent rounded-md;
}
.alert-info {
  @apply bg-cyan-100 text-cyan-700 border-cyan-200;
}
.alert-warning {
  @apply bg-yellow-100 text-yellow-600 border-yellow-200;
}
.alert-danger {
  @apply bg-red-100 text-red-600 border-red-200;
}
.alert p {
  @apply mb-0;
}
.alert:empty {
  @apply hidden;
}
.invalid-feedback {
  @apply block text-red-600;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading{
  cursor: wait;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;

  @apply max-w-sm;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys{
  0% { scale: 0.95; opacity: 0; }
  100% { scale: 1.0; opacity: 1; }
}

@keyframes fade-out-scale-keys{
  0% { scale: 1.0; opacity: 1; }
  100% { scale: 0.95; opacity: 0; }
}

@keyframes fade-in-keys{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out-keys{
  0% { opacity: 1; }
  100% { opacity: 0; }
}
